.kidsSpin {
    color: #97442f;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.whiteSpin {
    color: white;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}