.brandImage {
    width: 8rem;
}

.navbar {
    background-color: white;
    height: 80px;
}

.nav-link {
    color:black!important;
}

.nav-link:hover {
    color: #97442f!important;
    cursor: pointer
}

@media screen and (max-width: 767.98px) {
    .navbar-collapse {
        background-color:lightgray;
      }

    .nav-item {
        padding-left: .5rem!important;
    }
    
}
