.btn-sponsor {
    background-color: #97442f;
    border: none;
}

.card {
    background-color: white;
}

.kidsListPic {
    height: 14rem;
    object-fit: cover;
}

.learn {
    line-height:2.35rem;
}

