.btn-sponsor {
    background-color: #97442f;
    border: none;
}

.card {
    background-color: white;
}

.kidsListPic {
    /* max-height: 20rem;
    object-fit: cover; */
}

.learn {
    line-height:2.35rem;
}


