#more.white-text {
    color: white;
}

#more.white-text:hover {
    color: white!important;
    font-style: italic;
}

#sidebar {
    background-color: #97442f;
}

@media screen and (max-width: 575.98px) {
    #sidebar {
        display: none
    }

    h3 {
        font-size: 1.25rem
    }
}
